{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка файлов НОПРИЗ и НОСТРОЙ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'web_interface/css/style.css' %}" />
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Загрузка данных НОПРИЗ и НОСТРОЙ</h1>
        <p>Выберите и скачайте данные в формате Excel</p>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">НОПРИЗ Физические лица</h5>
            <p class="card-text">Скачайте данные физических лиц НОПРИЗ в формате Excel.</p>
            <div class="btn-group">
                <a href="{% url 'excel_nopriz_fiz' %}" class="btn-download">
                    <i class="fas fa-file-excel"></i> Скачать Excel
                </a>
            </div>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">НОПРИЗ Юридические лица</h5>
            <p class="card-text">Скачайте данные юридических лиц НОПРИЗ в формате Excel.</p>
            <div class="btn-group">
                <a href="{% url 'excel_nopriz_yr' %}" class="btn-download">
                    <i class="fas fa-file-excel"></i> Скачать Excel
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Все права защищены.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
